xx
{% print now %}

<div id="state">
    {% include "_state.tpl" %}
</div>

{% javascript %}
    z_transport_delegate_register('reload', function() { console.log('reload'); });
{% endjavascript %}


{% include "_js_include.tpl" %}

	{% lib
		 "js/qlobber.js"
		 "js/pubzub.js"
	%}

{% stream %}
{% script %}


